@import url('https://fonts.googleapis.com/css?family=Alatsi|Poppins&display=swap');

/* form 태그 */
.formTag {
  width: 100%;
  padding-top: 12px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 8px ;
  display: inline-block;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-sizing: border-box;
}
.formTag>input {
  display: inline-block;
  width: 100%;
  border: 1px solid rgb(17, 82, 147);
  padding: 5px;
  border-radius: 4px;
  margin: 8px;
}
.formTag>span {
  padding: 10px;
  color: rgb(5, 35, 65);
  font-weight: 500px;  

}
.formCheckbox { 
  display: inline-block;
  width: 100%;
  border: 1px dashed rgb(17, 82, 147);
  padding: 5px;
  border-radius: 4px;
  margin: 8px;
}

/* 버튼들 - 로그인, 회원가입, 긴 버튼들 */
.button-container{
  text-decoration: none;
}
.button-container>button{
  color: whitesmoke;
  background-color: rgb(17, 82, 147);
  text-decoration: none;
  border:0.5px solid rgb(17, 82, 147);
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin: 10px;
}
.button-container>button:hover {
  background-color: white;
  color : rgb(17, 82, 147);
  border: 0.5px solid rgb(17, 82, 147);
}

/* 버튼들 - 메인화면 짧은 버튼들 */
.button-container-2{
  display: inline-block;
  padding: 10px;
}
.button-container-2>button {
  color: whitesmoke;
  background-color: rgb(17, 82, 147);
  text-decoration: none;
  border:0.5px solid rgb(17, 82, 147);
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin: 10px 0;
}
.button-container-2>button:hover {
  background-color: white;
  color : rgb(17, 82, 147);
  border: 0.5px solid rgb(17, 82, 147);
}

/* 따로 빼져있는 버튼들 */
.button-container-onclick { 
  width: 100%;
  padding-bottom: 12px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 8px ;
  display: inline-block;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-sizing: border-box;
}
.button-container-onclick>button{
  color: whitesmoke;
  background-color: rgb(17, 82, 147);
  text-decoration: none;
  border:0.5px solid rgb(17, 82, 147);
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin: 10px;
}
.button-container-onclick>button:hover {
  background-color: white;
  color : rgb(17, 82, 147);
  border: 0.5px solid rgb(17, 82, 147);
}


/* accordian menu */
/* Style the buttons that are used to open and close the accordion panel */
div.accordionDiv {
  display: inline;
  height: 100%;
  width: 13%;
  float: left;
}
.accordion {
  background-color:  rgb(17, 82, 147);
  color: whitesmoke;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height: auto;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.accordion>a{
  background-color:  rgb(17, 82, 147);
  color: whitesmoke;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-size-adjust: auto;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

li.panelLi>a {
  text-decoration: none;
  color: whitesmoke;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: rgb(17, 82, 147);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: rgb(17, 82, 147);
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  color:  rgb(252, 205, 97);
  font-size: 13px;
  float: right;
  margin-left: 5px;
  text-shadow: 0 0 0 red;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
  text-shadow: 0 0 0 red;
}


div.menubar {
  display : inline-block;
  place-items: left;
  background-color: rgb(17, 82, 147);
  color: white;
  width: 200px;
  height: 100%;
}


button>a{
  text-decoration: none;
  color: rgb(17, 82, 147);
}
button>a:hover{
  color: white;
}

/* index 페이지 그래프들 */
.indexGraph{
  font-size: 30px;
  width : 500px;
  height : 300px;
  border : 1px solid rgb(17, 82, 147);
  margin: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  place-items: center;
}
.indexGraph>img{
  width: 280px;
  height: 200px;
  position: absolute;
}
/* index 페이지 */
.indexDiv {
  display: flex;
  flex-direction: row;
  /* align-items: space-around; */
  place-items: center;
  justify-content: center;
}
.indexDiv>div {
  margin: 10px;
  border: 1px solid rgb(17, 82, 147);
  border-radius: 4px;
}

.container{
  padding: 5%;
  width: 95vw;
}

.formBox{
  text-align: left;
  padding: 5%;
  display: inline;
  width: 87%;
  float: right;
}

.header {
  width: 100%;
}
img.logo1 {
  width: 300px;
  height: 300px;
}
img.logo2 {
  width: 300px;
  height: 240px;
}

h1>a{
  text-decoration: none;
  color : black;
}

h1>a:hover {
  color : rgb(83, 83, 238);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
